<div class="col-md-6 col-md-offset-3">
  <br>
  <% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, pleace type some product into to search.
    </div>
    <% elsif @jobs.blank? %>
    <br>
    <h2 class="search-info-title" style="text-align:center;"> 没有相关职位</h2>
  <% else %>
    <h2 class="search-info-title" style="text-align:center;">有关"<%= @query_string %>"的职位</h2>
    <hr>
    <div class="search_result">

      <div class="group-table">
        <% @jobs.each do |job| %>
          <div class="row groups-show">
            <div class="col-md-12 col-lg-9 col-lg-offset-1">
              <div class="pull-right">
                发布时间：<%= job.created_at.to_date %>
              </div>
              <p><%= link_to(render_highlight_content(job, @query_string),job_path(job)) %></p>
            </div>
          </div>
          <hr>
        <% end %>

      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@job, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
