<div class="pull-right">
  <%= link_to("编辑", edit_job_path(@job), class: "btn btn-default")%>
  <%= link_to("删除", job_path(@job), class: "btn btn-default",method: :delete, data: {confirm: "你确定删除吗？"}) %>
</div>

<h2><%= @job.title %></h2>
<p><%= @job.description %></p>
